<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>analytics-ui-components (ng1-es6)</title>

    <!-- required dependencies included explicitly -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/d3/d3.min.js"></script>

    <!-- analytics-ui-components - css files included explicitly -->
    <link rel="stylesheet" type="text/css" href="node_modules/analytics-ui-components/dist/analytics-ui-components.css"/>

    <!-- app -->
    <script src="build/index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>

<body>
<div>
    <h1 ng-bind="'analytics-ui-components (ng1-es6)'"></h1>

    <div class="component">
        <h2>&lt;ba-line-chart&gt;</h2>
        <div class="row">
            <ba-line-chart data="data" width="100" height="50"></ba-line-chart>
        </div>

        <div class="config" ng-init="data = [{x: 0, y: 2}, {x: 1, y: 4}, {x: 2, y: 1}, {x: 3, y: 8}]">
            <h4>configuration</h4>
            <input type="number" ng-model="data[0].y"/>
            <input type="number" ng-model="data[1].y"/>
            <input type="number" ng-model="data[2].y"/>
            <input type="number" ng-model="data[3].y"/>
        </div>
    </div>

</div>
</body>
</html>